In [2]:
import sqlite3

connection = sqlite3.connect('./genericDatabase.db')
cursor = connection.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age) 
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students 
        SET age = ? 
        WHERE id = ?
    ''', (new_age, student_id))
    connection.commit()
    print(f"Student with ID {student_id} age updated to {new_age}!")

def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students 
        WHERE id = ?
    ''', (student_id,))
    connection.commit()
    print(f"Student with ID {student_id} deleted successfully!")

create_student("Alice", 20)
create_student("Bob", 22)

update_student_age(1, 21)

delete_student(2)

read_students()

connection.close()

Record added successfully!
Record added successfully!
Student with ID 1 age updated to 21!
Student with ID 2 deleted successfully!
Student Records:
(1, 'Alice', 21)